.form {
    display: none;
}

.onClickForm{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.onClickForm input,
.onClickForm textarea,
button {
    margin: 10px 10px 10px 50px ;
}

.onClickForm button {
    width: 25%;
}
